body {
  margin: 0;
  all: initial;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  background-color: lightgray;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: rgb(0, 119, 255);
  position: relative;
  z-index: 0;
  top: -680px;
  right: -250px;
}

.header__image {
  height: 700px;
  width: 700px;
  background-image: url("/images/two_again.png");
  background-size: cover;
  position: relative;
  z-index: 1;
  top: 55px;
  right: -115px;
}

.header__logo {
  min-width: 228px;
  min-height: 32px;
  background-image: url("/images/logo_place_header.svg");
  background-repeat: no-repeat;
}

.header__title_first {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 100px;
}

.header__title_second {
  font-size: 60px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 100px;
}

.header__end {
  font-size: 24px;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  background-color: aqua;
  width: 100%;
  height: 60vh;
  min-height: 50vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-basis {
  flex-basis: content;
}

.div {
  background-color: blueviolet;
}

.justify-content-space-around {
  justify-content: space-around;
}