body {
  margin: 0;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  background-color: lightgray;
  z-index: 0;
  position: absolute;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: rgb(0, 119, 255);
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 120px;
}

.header__image {
  height: 600px;
  width: 600px;
  background-image: src("./images/ltwo_again.png");
  background-color: aqua;
  position: absolute;
  z-index: 1;
}

.header__logo {
  min-width: 228px;
  min-height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url("/images/logo_place_header.svg");
}

.header__title {
  font-size: 60px;
  font-weight: 500;
}

.header__end {
  font-size: 24px;
  position: absolute;
  left: 64px;
  bottom: 20px;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  background-color: aqua;
  width: 100%;
  height: 60vh;
  min-height: 300px ;
}
