h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  background-color: rgb(233, 232, 232);
  z-index: 0;
  /* выше установили ограничения для секции */
}

.header__main_position_left {
  height: 100vh;
  min-height: 300px;
  max-height: 756px;
  width: 50%;
  background-color: rgb(233, 232, 232);
  justify-content: center;
  /* выше установили ограничения для секции */
}

.header__main_position_right {
  height: 100vh;
  min-height: 300px;
  max-height: 756px;
  width: 50%;
  z-index: -3;
  background-color: rgb(233, 232, 232);
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: rgb(0, 132, 255);
  background-size: cover;
  position: absolute;
  z-index: -2;
  bottom: 124px;
  right: 0;
  ;
}

.header__image {
  height: 608px;
  width: 765px;
  background-image: url("/images/two_again.png");
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.header__logo {
  min-width: 228px;
  min-height: 32px;
  background-image: url("/images/logo_place_header.svg");
  background-repeat: no-repeat;
}

.header__logo_position {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  width: 730px;
  margin-left: 64px;
}

.header__content {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
}

.description {
  background-color: white;
  width: 100%;
  height: 540px;
  min-width: 784px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description__main {
  width: 80%;
  height: 340px;
  min-width: 784px;
}

.description__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  padding-right: 150px;
  margin-top: 0;
  color: rgb(119, 119, 243);
}

.description__main_text {
  width: 100%;
  min-height: 400px;
  height: 400px;
}

.digits {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 700px;
  min-height: 700px;
}

.digits__main {
  justify-content: center;
  align-items: center;
}


.table-style {
  width: 1100px;
  min-width: 1100px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.section-title-style {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  height: 70px;
  min-height: 70px;
  width: 60%;
  margin-bottom: 20px;
}

.section-subtitle-style {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 300;
  width: 60%;
  height: 30px;
  min-height: 30px;
}

.cell {
  width: 250px;
  min-width: 250px;
  height: 180px;
  max-height: 180px;
}

.cell__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.cell__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 100;
  padding-top: 20px;
}

.feynman {
  background-color: #f2f2f2;
  width: 100%;
}

.feynman__main {
  width: 100%;
  height: 800px;
  position: relative;
  top: 100px;
  background-color: #f2f2f2;
}

.feynman__image {
  width: 867px;
  height: 637px;
  background-image: url("/images/feynman.png");
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
  z-index: 2;
  text-align: center;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: lighter;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.feynman__info {
  font-size: 36px;
  line-height: 51px;
  font-weight: lighter;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  color: white;
  display: flex;
  width: 100%;
  height: 860px;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.kaufman__main {
  width: 100%;
  height: 650px;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;

}

/* и элемента с модификатором вида ключ-значение */
.kaufman__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  height: 145px;
  position: relative;
  z-index: 2;
}

.kaufman__table_style_dark {
  width: 1100px;
  min-width: 1100px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kaufman__triangle {
  background-image: url("/images/kaufman-triangle.svg");
  width: 877px;
  height: 877px;
  position: absolute;
  z-index: -1;
  right: -210px;
  top: 0;
}

.footer {
  width: 100%;
  height: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1f1f1f;
}

.footer__main {
  width: 90%;
  height: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__main_left {
  justify-content: space-between;
  width: 60%;
  height: 200px;
  min-height: 200px;
  flex-shrink: 3;

}

.footer__main_right {
  justify-content: space-between;
  width: 40%;
  height: 200px;
  min-height: 200px;
  justify-content: space-around;
}

.footer__logo {
  min-width: 228px;
  min-height: 32px;
  background-image: url("/images/logo_place_footer.svg");
  background-repeat: no-repeat;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__image_overlay:hover {
  background-color: red;
  border-radius: 30%;
}

.footer__link:hover {
  color: red;
}

.text-style-3 {
  font-size: 18px;
  line-height: 25px;
}

.text-style-2 {
  font-size: 18px;
  line-height: 30px;
}

.text-style-1 {
  font-size: 24px;
  line-height: 34px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.position-relative {
  position: relative;
}

.space-between {
  justify-content: space-between;
}

.title__footer {
  font-weight: 500;
  margin-left: 40px;
}

.no-bullets {
  list-style: none;
}

.paragraph {
  font-size: 24px;
  line-height: 34px;
  margin: 0 auto 0 auto;
}

.paragraph__span {
  font-size: 24px;
  line-height: 34px;
}

.paragraph__span_solid {
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: rgb(119, 119, 243);
}

.link:hover {
  color: red;
}