body {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  background-color: rgb(233, 232, 232);
  z-index: 0;
  /* выше установили ограничения для секции */
}

.header__left {
  height: 100vh;
  min-height: 300px;
  max-height: 756px;
  width: 50%;
  background-color: background-color: rgb(233, 232, 232);
  justify-content: center;
  /* выше установили ограничения для секции */
}

.header__right {
  height: 100vh;
  min-height: 300px;
  max-height: 756px;
  width: 50%;
  z-index: -3;
  background-color: rgb(233, 232, 232);
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: rgb(0, 132, 255);
  background-size: cover;
  position: absolute;
  z-index: -2;
  top: 64px;
  right: 0;
  ;
}

.header__image {
  height: 608px;
  width: 765px;
  background-image: url("/images/two_again.png");
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.header__logo {
  min-width: 228px;
  min-height: 32px;
  background-image: url("/images/logo_place_header.svg");
  background-repeat: no-repeat;
}

.header__logo_header
{
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  width: 730px;
  margin-left: 64px;
}

.header__end {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
}

.header__end_link {
  text-decoration: none;
  color: blue;
}

.header__end_link:hover {
  color: red;
}

.description {
  background-color: aquamarine;
  width: 100%;
  height: 400px;
  min-width: 400px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  background-color: aqua;
  width: 100%;
  height: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.857);
}

.footer__main {
  width: 90%;
  height: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__main_left {
  justify-content: space-between;
  width: 60%;
  height: 200px;
  min-height: 200px;
  flex-shrink: 3;

}

.footer__main_right {
  justify-content: space-between;
  width: 40%;
  height: 200px;
  min-height: 200px;
  justify-content: space-around;
}

.footer__logo {
  min-width: 228px;
  min-height: 32px;
  background-image: url("/images/logo_place_footer.svg");
  background-repeat: no-repeat;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer-image-overlay:hover {
  background-color: red;
  border-radius: 30%;
}

.footer__link:hover {
  color: red;
}

.text-style-3 {
  font-size: 18px;
  line-height: 25px;
}

.text-style-2 {
  font-size: 18px;
  line-height: 30px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.border-content {
  border: 1px solid red;
}

.position-relative {
  position: relative;
}

.space-between {
  justify-content: space-between;
}

.title__footer {
 font-weight: 500;
 margin-left: 40px;
}

.no-bullets {
  list-style: none;
}
